.titleText {
  font-family: "regular";
  height: 50px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  color: var(--textBlackColor);
}

.enactiveLink {
  color: var(--textLightGrayColor);
  transition: color 0.2s ease;
}
.activeLink {
  color: var(--primary-color);
}

.enactiveLink:hover {
  color: var(--textBlackColor);
}

.itemParentDiv {
  border: 1px solid var(--primary-color);
  width: 100%;
  padding: 10px;
}
.itemName {
  color: (--textBlackColor);
  font-family: "regular";
  font-size: 24px;
  margin-bottom: 10px;
}

.colorAndSize {
  color: (--textBlackColor);
  font-family: "regular";
  font-size: 16px;
  cursor: pointer;
}

.qunatityCounterParent {
  height: 35px;
  margin-left: 10px;
}
.decreaseBtn {
  border: 1px solid #dcdcdc;
  height: 35px;
  width: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "regular";
  font-size: 20px;
  font-weight: 400;
  color: var(--textGrayColor);
  cursor: pointer;
}
.quantityDiv {
  height: 35px;
  width: 41px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "regular";
  color: var(--textGrayColor);
  border-left: none; /* No border on the left side */
  border-right: none; /* No border on the right side */
  border-top: 1px solid #dcdcdc; /* Border only on the top */
  border-bottom: 1px solid #dcdcdc; /* Border only on the bottom */
}

.priceDiv {
  font-family: "regular";
  font-size: 20px;
}
.deleteBtn {
  cursor: pointer;
}
.summaryTex {
  font-family: "regular";
  font-size: 18px;
  color: var(--textBlackColor);
  margin-top: 20px;
  margin-bottom: 20px;
}
.summaryParent {
  height: 168px;
  padding: 40px 20px;
  border: 1px solid var(--primary-color);
}
.summaryItems {
  font-family: "regular";
  size: 16px;
  margin-bottom: 10px;
}

.proceedBtn {
  background: linear-gradient(
    180deg,
    #9a8254,
    rgba(154, 130, 84, 0.42)
  ) !important;
  height: 56px;
  margin-top: 30px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: uppercase;
  font-family: "regular";
  font-size: 14px;
  font-weight: 400;
}

.imageContainer{
  width: 90px; /* Initial width for the image */
  height: 120px; /* Initial height for the image */
}

@media only screen and (max-width: 767px) {
  .imageContainer {
    max-width: 60px; /* Image container takes full width of its parent */
    height: 80px; /* Allow image height to adjust based on width */
  }
  .itemName{
    font-size: 16px;
  }
  .colorAndSize{
    font-size: 12px;
  }
  .priceDiv{
    font-size: 15px;
    margin-right: 10px;
  }
}
