.divider {
  background-color: var(--primary-color);
  height: 5px;
}

.footerTitle {
  font-family: "bold", "sans-serif";
  font-size: 15;
}

.allNews {
  font-family: "bold", "sans-serif";
  font-size: 18;
}
.allDetails {
  font-family: "regular", "sans-serif";
  font-size: 12pt;
}

.footerItems {
  font-family: "regular", "sans-serif";
  font-size: 15;
  color: black;
  transition: color 0.3s;
  cursor: pointer;
}

.footerItems:hover {
  color: var(--primary-color);
}
.subscribeBtn {
  height: 50px;
  background-color: var(--primary-color);
  color: white;
}
