.regularFont {
  font-family: "regular", sans-serif;
  font-size: 15pt;
  transition: color 0.3s;
}
.normalFont {
  font-family: "regular", sans-serif;
  font-size: 12pt;
  transition: color 0.3s;
}

.regularFont:hover {
  color: var(--primary-color);
}
.sticky-content.fixed {
  background: #fff;
  box-shadow: 0 0 10px 1px rgba(0,0,0,.1);
  left: 0;
  opacity: 1;
  position: fixed;
  right: 0;
  z-index: 1051;
}
.sticky-content.fix-top {
  top: 0;
}
.sticky-header {
  transition: margin .4s;
}
.bottomNav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background: #fff;
  min-height: 60px;
  box-shadow: 0 0 10px 1px rgba(0,0,0,.1);
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 99;
}
.bottomLink{
  font-family: "regular", sans-serif;
  font-size: 10pt;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@keyframes fixedTop{
  0% {
    transform: translateY(-100%);
    transform-origin: center top 0;
}
100% {
  transform: translateY(0);
}
}
