.regularFont {
  font-family: "regular", sans-serif;
  font-size: 15pt;
  transition: color 0.3s;
}
.normalFont {
  font-family: "regular", sans-serif;
  font-size: 12pt;
  transition: color 0.3s;
}

.regularFont:hover {
  color: var(--primary-color);
}
