.parent {
  margin-top: 20px;
  padding-left: 100px;
  padding-right: 15px;
}

.titleText {
  font-family: "regular";
  height: 50px;
  display: flex;
  font-size: 16px;
  align-items: center;
  color: var(--textLightGrayColor);
  height: 50px;
}

.productBreadcrumb {
  font-family: "regular";
  height: 50px;
  display: flex;
  font-size: 16px;
  align-items: center;
  color: var(--textGrayColor);
}

.productContainer {
  margin-top: 20px;
}

.sideImagesContainer {
  max-height: 567px;
  overflow: hidden;
  overflow-y: auto;
  overflow-x: auto;
}

.sideImage {
  height: 79px !important;
  width: 60px;
  cursor: pointer;
  border: 1px solid black;
}

/* Media query for tablets (768px) */
@media (max-width: 1023px) {
  .productBreadcrumb {
    font-size: 20px;
  }

  .parent {
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* Media query for mobile devices (767px and below) */
@media (max-width: 767px) {
  .productBreadcrumb {
    font-size: 20px;
  }

  .parent {
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .sideImagesContainer {
    height: 110px;
    overflow: hidden;
    overflow-y: auto;
    overflow-x: auto;
  }
}
